.content-container {
    align-content: center;
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 100rem;
}

:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);

    --fw-normal: 400;
    --fw-bold: 700;

    --clr: #468be4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 60vh;
    display: grid;
    place-items: center;
    font-family: "Oswald", sans-serif;
}

.box-lo {
    align-items: center;

    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}


.card {
    width: 25em;
}

.card__content {
    text-align: center;
    position: relative;
    padding: 10em 5em;
    transition: transform 3s;

    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(0.5turn);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.card__front {
    background-color: var(--clr);
    background-size: cover;
    background-blend-mode: overlay;
    color: #8e110d;
}

.card__front::before {
    content: "";
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: var(--level-one);
}

.card__title {
    margin: 0 0 1.2rem 0;
    line-height: 1;
    font-size: 2.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
    opacity: 0.5;
}

.card__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: .86rem;
    line-height: 2.6;
}

.card__back {
    transform: rotateY(0.5turn);
    color: var(--clr);
    background: #c1e086;

}

.card__backtext {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

.card__pic {
    align-content: center;
    height: 20vh;
    width: 20vw;
    color: var(--clr);
    background: #09283f;
}