.content-container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 100rem;
    background-color: #5781FF;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6 0px;
    width: 100%;
    text-align: center;
    background: #ec8989;
    opacity: 0.4;
    transition: 0.3s;
}

.footer:hover {
    opacity: 1;
}

.footer__content {
    justify-content: space-between;
    padding: 1.2rem 0;
}

.footer__title {
    text-align: center;
    color: rgb(128, 0, 53);
    text-decoration: none;
}

h1 {
    margin: 10px;
}


.footer-lo__title {
    color: blue;
    margin: 0 0 1.2rem 0;
    line-height: 1;
}

.footer-lo__subtitle {
    color: purple;
    margin: 0 0 1.6reme 0;
    line-height: 1;
}

ul {
    list-style-type: none;
    margin: 80;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    box-shadow: inset 0 0 0 2px;
    opacity: 0.5;
}