.header {
    background: -moz-linear-gradient(left,
            rgba(242, 246, 248, 1) 0%,
            rgb(160, 204, 233) 50%,
            rgb(111, 188, 233) 51%,
            rgb(68, 171, 240) 100%);
}

.header__content {
    justify-content: space-between;
    padding: 1.2rem 0;
}

.header__title {
    font-family: "Lucida Console", Monaco, monospace;
    color: dark-blue;
    text-align: center;
    text-decoration: none;
}

h1 {
    margin: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    box-shadow: inset 0 0 0 2px #a6a5a8;
    opacity: 0.5;
}

.active {
    background-color: #756ea0;
}